@import "../../theme/colors.scss";

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  border: 2px solid $main-green;
  padding: 5px;
  border-radius: 6px;


  .upper-review-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    
  .profile-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .profile-image {
      max-width: 40px;
      border-radius: 50%;
      }

      .profile-fullname {
        margin: 0 15px;
        font-size: 20px;
      }
    }
  }

  .middle-review-card {
    max-width: 90%;
    width: 100%;
    margin-bottom: 20px;
  }

  .lower-review-card {
    width: 100%;

    display: flex;
    justify-content: flex-end;
  }
}