@import "../../theme/colors.scss";
.review-container {
  border: 1px solid;
  border-radius: 5px;
  height: 120px;
  margin: 10px;

  .date {
    padding: 5px;
    font-style: italic;
    color: $dark-grey;
    width: 85px;
    position: absolute;
    margin: 1px 290px;
  }
  .img-rating-container {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    flex-direction: column;
  }
  p {
    padding: 5px;
  }

  .review-inner-container {
    margin: 20px 150px;
    border-radius: 5px;
    text-align: left;
    height: 100px;
    width: 200px;
    position: absolute;
  }
  img {
    border-radius: 50%;
  }
}
