@import "../../theme/utils.scss";

.create-business-header {
  height: auto;


  .header-items {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 250px;
    }

    .sub-imgs {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0px 0px 15px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 6px;
        margin: 5px
      }

      .file-input {
        display: none;
      }

      .file-input-label {
        display: block;
        width: 60px;
        height: 57px;
        border: 2px solid #787373;
        border-radius: 6px;
        background: #FFFFFF;
        font-size: 2.5em;
        margin: 5px;
        color: grey;
        text-align: center;
      }
    }
  }
}

.add-business-form {

  .form-container {
    margin-top: 1em;
  }

  .form-input {
    background: #FFFFFF;
    border: 2px solid #21B5A2;
    border-radius: 6px;
    box-sizing: border-box;
    padding: .2em .7em;
    margin: .5em 0 .5em 0;
    font-size: 18px;
    flex-grow: 1;
  }

  .form-input::-webkit-input-placeholder {
    font-size: 15px;
  }

  .large-input {
    @extend .form-input;
  }

  .submit-btn {
    background: #ffffff;
    color: #21B5A2;
    padding: .5em;
    margin: .5em 0 .5em 0;
    border: 2px solid #21B5A2;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
  }

  .checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 50%;
    margin: .3em 0 .3em 0;


    .checkbox-items {
      display: flex;


      .checkbox-input {
        @extend .form-input;
        height: 30px;
        width: 30px;
        margin-right: .4em;
        border: 2px solid #21B5A2;
        border-radius: 6px;
        background: #ffffff;
      }

      label {
        font-size: 20px;
        color: #726A6A;
        text-align: center;
        margin-top: .3em;
      }
    }
  }
}