@import "theme/colors.scss";

.filters {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .filterLabel {
    padding-top: 10px;
    margin-right: 20px;
    text-align: center;
    color: gray;
    font-size: 20px;
    
  }

  .filterSectionTitle {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: 40px;
    color: $main-green;
  }

  .filtersContainer {
    margin-top: 55px;

    .filterByBusinessTypeContainer,
    .filterByCuisineTypeContainer,
    .filterByRadiusContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .filterByBusinessType,
    .filterByCuisineType,
    .filterByRadius {
      margin-top: 20px;
      width: 230px;
      height: 35px;
      margin-bottom: 20px;
    }

    .slider {
      -webkit-appearance: none;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    .slider:hover {
      opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #21b5a2;
      cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #21b5a2;
      cursor: pointer;
    }
  }


  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .actionButton {
      background: none;
      font-size: 20px;
      border: 2px solid $main-green;
      padding: 8px 16px;
      border-radius: 6px;
      margin-top: 30px;
      margin-bottom: 10px;
      max-width: 230px;
      min-width: 230px;
      color: $main-green;

      &:nth-child(2) {
        margin-top: 5px;
        color: gray;
      }
    }
  }
}
