@import 'theme/colors.scss';

.emptyBusinessDetails {
  text-align: center;
  margin-top: 40px;
}

.profile-container {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 0 5px 10px -6px $dark-green;
  padding: 20px 10px;
  max-width: 90%;
  margin: auto;

  img {
    border-radius: 50%;
  }
}
