@import "theme/utils.scss";


.signin-form {
  margin-top: 3em;

  .google-btn {
    color: #737373;
    background: white;
  }

  .facebook-btn {
    color: white;
    background: blue;
  }
}

.logout-btn {
  background: none;
  border: none;
  align-self: flex-end;
  margin-left: 3rem;
}