@import "theme/colors.scss";

.business-page-nav {
  box-shadow: 0 5px 10px -6px $dark-green;


  .nav-items {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 0 40px;

    .nav-button {
      border: 2px solid $main-green;
      padding: 10px 30px;
      
      border-radius: 6px;
      background: none;
      outline: 0;
    }
  }

}
