@import "theme/colors.scss";

input {
  position: absolute;
  width: 70%;
  border: solid 1px #21b5a2;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0.5rem;
  right: 4rem;
  outline: none;
  font-size: 19px;
  z-index: 999;
}

.gm-style-mtc {
  display: none !important;
}

.gm-svpc {
  display: none !important;
}

.gm-bundled-control {
  bottom: 15rem !important;
}