@import "theme/colors.scss";

button:hover {
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  direction: ltr;
  box-shadow: 0 5px 10px -6px #508991;
  
  box {
    background: $main-white;
    border: 2px solid $main-green;
    box-sizing: border-box;
    border-radius: 6px;
  }

  .changeLanguage {
    @extend box;
    min-width: 40px;
    height: 35px;
    margin: auto 10px;

    .select {
      background: none;
      border-style: none;
      outline: 0;
      width: 100%;
      height: 100%;
    }
  }

  .signUp {
    @extend box;
    width: 140px;
    height: 45px;
  }

  .login {
    width: 100%;
    height: 60%;
    margin: auto 1vw;
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }

  button:focus {
    outline: 0;
  }

  button {
    background: none;
    border: none;
  }

  
  .logo-img{
    height: 44%;
    padding: 0.5rem;
    align-self: center;
    cursor: pointer;
  }


}