@import "../../theme/colors.scss";

.navBar {
  display: flex;
  justify-content: space-between;
  background: $main-grey;
  width: 100%;
  height: 65px;

  box {
    background: $main-white;
    border: 2px solid $main-green;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .changeLanguage {
    @extend box;
    width: 45px;
    height: 30px;
    margin-left: 10px;
  }

  .signUp {
    @extend box;
    width: 140px;
    height: 45px;
  }

  .login {
    @extend box;
    width: 45px;
    height: 30px;
    margin-right: 10px;
  }
}
