@import "../../theme/colors.scss";
.rating-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  font-size: 12px;
}
.reviews-h1 {
  padding: 5px;
  font-size: x-large;
}
.colorPrimary {
  color: "black";
}
