@import 'theme/fonts.scss';
@import 'theme/colors.scss';
@import 'theme/utils.scss';

.popup-window {
  box-sizing: border-box;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  animation: 0.1s ease-in-out 0s 1 scaleOut;

  .business-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    min-height: 90px;
  }

  .business-info {
    align-self: flex-start;
    height: 100%;
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;

    .business-name {
      width: 50%;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: #235a78;
    }

    li {
      padding: 2px;
      margin: 1px;
    }

    .type {
      margin: 5px;
      color: $dark-grey;
      font-style: italic;
      font-size: 14px;
    }
    
    .business-link {
      padding: 8px 14px;
      background-color: #21b5a2;
      border-radius: 5px;
      border: none;
      min-width: 50px;
      color: white;
      text-align: center;
      font-weight: 600;
      margin-top: auto;
    }
  }
}

@keyframes scaleOut {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
