@import "./theme/colors.scss";
@import "./theme/fonts.scss";

.App {

  @media screen and (min-width: 1000px){
    margin: auto;
    max-width: 50%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.8), 0 2px 5px 0 rgba(0,0,0,.6);
  }
}
